html, body {
  background: #808080;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Segoe UI', 'Roboto', 'Helvetica Neue', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.5em;
  vertical-align: baseline;
  -moz-osx-font-smoothing: auto;
   -webkit-font-smoothing: antialiased;
}

header {
  color: #fff;
  text-shadow: 1px 2px 3px #000;
  font-size: 2em;
  font-weight: bold;
}

main {
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 2px 3px #000;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  max-width: 15em;
  padding: 12pt;
  margin: 24pt;
  border: 1px solid white;
  transition: border 0.2s ease-out, background-color 0.2s ease-out;
}

li:hover {
  border: 1px solid #0ae;
  background-color: #404040;
}

li:visited {
  border: 2px solid red;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-out;
}

a:link {
  color: #fff;
}

a:hover {
  color: #0ae;
}

a:active {
  color: #ea0;
}

a:visited {
  color: #eae;
}

a:visited:hover {
  color: #0ae;
}
